<div class="main">
  <h2>Personal Records</h2>
  <h3>Weightlifting</h3>
  <div class="row">
    <div class="col span-1-of-3">
      <a href="/users/personal_records/edit">Squat Clean</a>
      <p><%=show_max_result("Squat Clean") %></p>
    </div>
    <div class="col span-1-of-3">
      <a href="/users/personal_records/edit">Power Clean</a>
      <p><%=show_max_result("Power Clean") %></p>
    </div>
    <div class="col span-1-of-3">
      <a href="/users/personal_records/edit">Hang Power Clean</a>
      <p><%=show_max_result("Hang Power Clean") %></p>
    </div>
    <div class="col span-1-of-3">
      <a href="/users/personal_records/edit">Hang Squat Clean</a>
      <p><%=show_max_result("Hang Squat Clean") %></p>
    </div>
    <div class="col span-1-of-3">
      <a href="/users/personal_records/edit">Clean & Jerk</a>
      <p><%=show_max_result("Clean & Jerk") %></p>
    </div>
    <div class="col span-1-of-3">
      <a href="/users/personal_records/edit">Jerk</a>
      <p><%=show_max_result("Jerk") %></p>
    </div>
    <div class="col span-1-of-3">
      <a href="/users/personal_records/edit">Snatch</a>
      <p><%=show_max_result("Snatch") %></p>
    </div>
    <div class="col span-1-of-3">
      <a href="/users/personal_records/edit">Power Snatch</a>
      <p><%=show_max_result("Power Snatch") %></p>
    </div>
    <div class="col span-1-of-3">
      <a href="/users/personal_records/edit">Hang Power Snatch</a>
      <p><%=show_max_result("Hang Power Snatch") %></p>
    </div>
    <div class="col span-1-of-3">
      <a href="/users/personal_records/edit">Hang Squat Snatch</a>
      <p><%=show_max_result("Hang Squat Snatch") %></p>
    </div>
    <div class="col span-1-of-3">
      <a href="/users/personal_records/edit">Front Squat</a>
      <p><%=show_max_result("Front Squat") %></p>
    </div>
  </div>
  <h3>Powerlifting</h3>
  <div class="row">
    <div class="col span-1-of-3">
      <a href="/users/personal_records/edit">Backsquat</a>
      <p><%=show_max_result("Backsquat") %></p>
    </div>
    <div class="col span-1-of-3">
      <a href="/users/personal_records/edit">Bench Press</a>
      <p><%=show_max_result("Bench Press") %></p>
    </div>
    <div class="col span-1-of-3">
      <a href="/users/personal_records/edit">Deadlift</a>
      <p><%=show_max_result("Deadlift") %></p>
    </div>
  </div>
  <h3>Gymnastics</h3>
  <div class="row">
    <div class="col span-1-of-3">
      <a href="/users/personal_records/edit">Pull up</a>
      <p><%=show_max_result("Pull up") %></p>
    </div>
    <div class="col span-1-of-3">
      <a href="/users/personal_records/edit">Muscle up</a>
      <p><%=show_max_result("Muscle up<") %></p>
    </div>
    <div class="col span-1-of-3">
      <a href="/users/personal_records/edit">Push up</a>
      <p><%=show_max_result("Push up") %></p>
    </div>
    <div class="col span-1-of-3">
      <a href="/users/personal_records/edit">Toes to Bar</a>
      <p><%=show_max_result("Toes to Bar") %></p>
    </div>
    <div class="col span-1-of-3">
      <a href="/users/personal_records/edit">Hand stand push up</a>
      <p><%=show_max_result("Hand stand push up") %></p>
    </div>
  </div>
  <h3>Endurance</h3>
  <div class="row">
    <div class="col span-1-of-3">
      <a href="/users/personal_records/edit">500m rower</a>
      <p><%=show_max_result("500m rower") %></p>
    </div>
    <div class="col span-1-of-3">
      <a href="/users/personal_records/edit">500m Ski Erg</a>
      <p><%=show_max_result("500m Ski Erg") %></p>
    </div>
    <div class="col span-1-of-3">
      <a href="/users/personal_records/edit">500m AirBike</a>
      <p><%=show_max_result("500m AirBike") %></p>
    </div>
    <div class="col span-1-of-3">
      <a href="/users/personal_records/edit">400m Run</a>
      <p><%=show_max_result("400m Run") %></p>
    </div>
    <div class="col span-1-of-3">
      <a href="/users/personal_records/edit">1km Run</a>
      <p><%=show_max_result("1km Run") %></p>
    </div>
    <div class="col span-1-of-3">
      <a href="/users/personal_records/edit">10km Run</a>
      <p><%=show_max_result("10km Run") %></p>
    </div>
  </div>
</div>
